## Class exercise Select
1. Use the ex1 table on the mysql_notebooks server
2. Select only those customers with less than `$3000` on the account

In [ ]:
import mysql.connector as mysql

db = mysql.connect(
    host = "db",
    user = "root",
    passwd = "root",
    db = "db",
    charset='latin1'
)

cur = db.cursor()
query = 'select * from ex1 where account < 3000'
cur.execute(query)
print('TABLE COLUMNS: ',cur.column_names,'\n')

myresult = cur.fetchall()

for x in myresult:
    for idx in range(0,len(cur.column_names)):
        col_title = "\033[1m" + cur.column_names[idx] + "\033[0m"
        col_data = str(x[idx])
        print(col_title + ":  " + col_data)
    print()

## Exercise
Create a function that can take a dict and a table name and persist all values of the dict into the table columns corresponding to the dict keys.

Hint: https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html

In [21]:
import mysql.connector as mysql

db = mysql.connect(
    host = "db",
    user = "root",
    passwd = "root",
    db = "db"
)

c = db.cursor()
c.execute("DROP TABLE IF EXISTS tableExercise")
c.close()
c = db.cursor()
q = ('CREATE TABLE IF NOT EXISTS tableExercise('+
    '  `member_id` int(11) NOT NULL AUTO_INCREMENT,'+
    '  `first_name` varchar(14) NOT NULL,'+
    '  `last_name` varchar(14) NOT NULL,'+
    '  `age` int(11) NOT NULL,'+
    '  PRIMARY KEY (`member_id`)'+
    ') ENGINE=InnoDB')
c.execute(q)
c.close()

def myFunc(my_dict, table_name):
    cur = db.cursor()
    query = 'INSERT INTO ' + table_name + ' ('
    query_values = ' values ('
    for k, v in my_dict.items():
        query += k + ', '
        query_values += str(v) + ', '
    query = query[:-2] + ')' + query_values[:-2] + ')'
    print(query)
    cur.execute(query)
    print(str(cur.rowcount) + " Rows was Inserted into table: " + table_name)
    cur.close()
    db.commit()
    print()
    
myFunc({'first_name': "'Jeff'", 'last_name':"'Jackson'", 'age':27}, "tableExercise")
myFunc({'first_name': "'Boris'", 'last_name':"'Johnson'", 'age':65}, "tableExercise")
myFunc({'first_name': "'Leif'", 'last_name':"'Peterson'", 'age':43}, "tableExercise")
myFunc({'first_name': "'Peter'", 'last_name':"'White'", 'age':25}, "tableExercise")
myFunc({'first_name': "'Jack'", 'last_name':"'Black'", 'age':75}, "tableExercise")
myFunc({'first_name': "'Steve'", 'last_name':"'Sorensen'", 'age':18}, "tableExercise")

INSERT INTO tableExercise (first_name, last_name, age) values ('Jeff', 'Jackson', 27)
1 Rows was Inserted into table: tableExercise

INSERT INTO tableExercise (first_name, last_name, age) values ('Boris', 'Johnson', 65)
1 Rows was Inserted into table: tableExercise

INSERT INTO tableExercise (first_name, last_name, age) values ('Leif', 'Peterson', 43)
1 Rows was Inserted into table: tableExercise

INSERT INTO tableExercise (first_name, last_name, age) values ('Peter', 'White', 25)
1 Rows was Inserted into table: tableExercise

INSERT INTO tableExercise (first_name, last_name, age) values ('Jack', 'Black', 75)
1 Rows was Inserted into table: tableExercise

INSERT INTO tableExercise (first_name, last_name, age) values ('Steve', 'Sorensen', 18)
1 Rows was Inserted into table: tableExercise