In [1]:
import pandas as pd
import numpy as np

data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

In [2]:
indexs = [value[0] for value in data[1:]]
colums = data[0][1:]
datas = [value[1:] for value in data[1:]]
df = pd.DataFrame(data=datas, columns=colums, index=indexs)
print(df)
print(df.index)
print(df.columns)

     Col1 Col2 col3
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9
Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')

In [3]:
#2a
print(df['Col2'])

Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object

In [4]:
#2b
print(df.iloc[:]['col3'])

Row1    3
Row2    6
Row3    9
Name: col3, dtype: object

In [5]:
#2c
print(df.iloc[2:]['Col2'])

Row3    8
Name: Col2, dtype: object

In [47]:
data = pd.read_csv('../../../data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_887574.csv', skiprows=4)
countries = data['Country Name']
data = data.set_index(countries)
new_series = pd.Series(data[:]['2014'])
print(new_series)

Country Name
Aruba              872.746
Afghanistan       9809.225
Angola           34763.160
Albania           5716.853
Andorra            462.042
                   ...
Kosovo                 NaN
Yemen, Rep.      22698.730
South Africa    489771.854
Zambia            4503.076
Zimbabwe         12020.426
Name: 2014, Length: 264, dtype: float64

In [48]:
sorted_top_ten = new_series.sort_values(ascending=False)[0:10]
print(sorted_top_ten)

Country Name
World                        3.613828e+07
IDA & IBRD total             2.158385e+07
Low & middle income          2.121377e+07
Middle income                2.101174e+07
IBRD only                    2.078336e+07
Upper middle income          1.682714e+07
Late-demographic dividend    1.508966e+07
East Asia & Pacific          1.427211e+07
High income                  1.293972e+07
OECD members                 1.215111e+07
Name: 2014, dtype: float64

In [41]:
print(data)

     Country Name Country Code      Indicator Name  Indicator Code       1960  \
0           Aruba          ABW  CO2 emissions (kt)  EN.ATM.CO2E.KT        NaN
1     Afghanistan          AFG  CO2 emissions (kt)  EN.ATM.CO2E.KT    414.371
2          Angola          AGO  CO2 emissions (kt)  EN.ATM.CO2E.KT    550.050
3         Albania          ALB  CO2 emissions (kt)  EN.ATM.CO2E.KT   2024.184
4         Andorra          AND  CO2 emissions (kt)  EN.ATM.CO2E.KT        NaN
..            ...          ...                 ...             ...        ...
259        Kosovo          XKX  CO2 emissions (kt)  EN.ATM.CO2E.KT        NaN
260   Yemen, Rep.          YEM  CO2 emissions (kt)  EN.ATM.CO2E.KT   3633.997
261  South Africa          ZAF  CO2 emissions (kt)  EN.ATM.CO2E.KT  97934.569
262        Zambia          ZMB  CO2 emissions (kt)  EN.ATM.CO2E.KT        NaN
263      Zimbabwe          ZWE  CO2 emissions (kt)  EN.ATM.CO2E.KT        NaN

           1961        1962        1963        1964        1965  ...  \
0           NaN         NaN         NaN         NaN         NaN  ...
1       491.378     689.396     707.731     839.743    1008.425  ...
2       454.708    1180.774    1151.438    1224.778    1188.108  ...
3      2280.874    2464.224    2082.856    2016.850    2174.531  ...
4           NaN         NaN         NaN         NaN         NaN  ...
..          ...         ...         ...         ...         ...  ...
259         NaN         NaN         NaN         NaN         NaN  ...
260    2665.909    3887.020    2918.932    3633.997    3931.024  ...
261  102213.958  105767.281  109826.650  119657.877  128260.659  ...
262         NaN         NaN         NaN    3278.298    3916.356  ...
263         NaN         NaN         NaN    4473.740    5214.474  ...

           2011        2012        2013        2014  2015  2016  2017  2018  \
0      2500.894    1349.456     861.745     872.746   NaN   NaN   NaN   NaN
1     12240.446   10755.311   10014.577    9809.225   NaN   NaN   NaN   NaN
2     30340.758   33399.036   32617.965   34763.160   NaN   NaN   NaN   NaN
3      5240.143    4910.113    5064.127    5716.853   NaN   NaN   NaN   NaN
4       491.378     487.711     476.710     462.042   NaN   NaN   NaN   NaN
..          ...         ...         ...         ...   ...   ...   ...   ...
259         NaN         NaN         NaN         NaN   NaN   NaN   NaN   NaN
260   19666.121   18668.697   25496.651   22698.730   NaN   NaN   NaN   NaN
261  470582.443  468770.945  466376.394  489771.854   NaN   NaN   NaN   NaN
262    2937.267    3667.000    3956.693    4503.076   NaN   NaN   NaN   NaN
263    9563.536    7792.375   11675.728   12020.426   NaN   NaN   NaN   NaN

     2019  Unnamed: 64
0     NaN          NaN
1     NaN          NaN
2     NaN          NaN
3     NaN          NaN
4     NaN          NaN
..    ...          ...
259   NaN          NaN
260   NaN          NaN
261   NaN          NaN
262   NaN          NaN
263   NaN          NaN

[264 rows x 65 columns]